<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TCReactNativeSample.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5D8023176E0F6340E089802873E065675B8C0CE2</string>
				<key>dateExpires</key>
				<string>07/10/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5D8023176E0F6340E089802873E065675B8C0CE2</string>
						<key>dateExpires</key>
						<string>07/10/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H5JPPZFPBF</string>
						<key>name</key>
						<string>Techno Source Web Pvt. Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>H5JPPZFPBF.org.reactjs.native.example.TCReactNativeSample</string>
				<key>com.apple.developer.team-identifier</key>
				<string>H5JPPZFPBF</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>H5JPPZFPBF.org.reactjs.native.example.TCReactNativeSample</string>
				</array>
			</dict>
			<key>name</key>
			<string>TCReactNativeSample.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>61d564db-75da-4fe0-9699-2a4177d9f8a1</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>H5JPPZFPBF</string>
				<key>name</key>
				<string>Techno Source Web Pvt. Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
